body {
  margin: auto;
  overflow-x: hidden;
}

body, html {
    height: 100%;
    background-color: #ddd;
}

* {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

article {
  display: inline-block;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {font-family: "Oswald", sans-serif;}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
  padding: 2.5% 0 2% 0;
  text-transform: uppercase;
}
h3 {
  font-size: 3rem;
  text-transform: uppercase;
}
h4 {font-size: 2rem;}
h5 {font-size: 1rem;}
h6 {font-size: .5rem;}
p {
  font-size: .8rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.2rem;
}

p strong {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

label {
  font-size: .8rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.2rem;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2.5em;
    text-align: center;
  }
  h3 {
    font-size: 2em;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#logo {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  z-index: 1;
}

#header {
  max-height: 60vw;
  overflow: hidden;
  position: relative;
}

#header.parallax {
    background-image: url("../img/max/lake-mckenzie2_opt.jpg");
    height: 60vw;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}

#header i.fa.fa-angle-down {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  z-index: 999;
  font-size: 7vw;
  color: #fff;

}

@media screen and (max-width: 1000px) {
  #header.parallax {
      background-size: contain;
  }
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#main-nav {
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999;
}

#main-nav ul {
  display: flex;
  align-items: center;
  background-color: #333;
  width: 100%;
  padding: 0;
  margin: 0;
}

#main-nav ul li {
  list-style: none;
  text-align: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 40px;
  border-right: 1px solid #555;
  text-transform: uppercase;
  font: 1rem 'Oswald', san-serif;
  cursor: pointer;
}

#main-nav ul li:last-child {
  border: none;
}

#main-nav ul li a:visited,
#main-nav ul li a:link {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-top: .5rem;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

#main-nav ul li:hover,
#main-nav ul li:active,
.current {
  background-color: #444;

}
nav.nav-fixed {
  top: 0;
  position: fixed !important;
  width: 100%;
}

.margin-fix {
  padding-top: 40px;
}

.fa.fa-bars,
.fa.fa-times {
  display: none;
}

/*--------------------------------------------------------------
## Hamburger nav
--------------------------------------------------------------*/
@media screen and (max-width: 400px) {

  #main-nav.closed ul li {
    display: none;
  }

  #main-nav.expand,
  #main-nav ul.expand,
  #bars.fa.fa-bars {
    display: block;
  }

  .fa.fa-bars,
  .fa.fa-times {
    display: inline;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
    font-size: 1.5em;
  }
  .fa.fa-bars.off,
  .fa.fa-times.off {
    display: none !important;
  }

  #header i.fa.fa-angle-down{
    display: none;
  }
}

/*--------------------------------------------------------------
# General layouts
--------------------------------------------------------------*/
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper * {
  box-sizing: border-box;
}
section {
  padding-top: 10%;
  margin-top: -5%;
  margin-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  section {
    padding-top: 2%;
    margin-top: 1%;
  }
}

section>h2,
section>h3,
section>h4 {
  padding-bottom: 0.5rem;
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}


/*--------------------------------------------------------------
# Section 1 - My Work
--------------------------------------------------------------*/
/*--- Image slider ---*/
.slick-slider {
  overflow: hidden;
}

.slider-nav .slick-track img {
  filter: brightness(0.4);
  transition: filter 200ms ease-in-out;
}

.slider-nav .slick-center.slick-center img {
  filter: none;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  height: 100%;
}

.slider-for .slick-current {
  height: auto;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slider-nav {
  height: 20vw;
}

.slider-nav img {
  object-fit: cover;
  height: 100%;
}

.slick-slide img {
  margin: auto;
  width: 100%;
}

.slick-arrow {
  z-index: 100;
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 25px;
}

ul.slick-dots {
  bottom: 10px;
}

ul.slick-dots li button:before,
ul.slick-dots li.slick-active button:before {
  color: white;
}

@media screen and (max-width: 400px) {
  .slick-next:before,
  .slick-prev:before,
  .slick-arrow,
  ul.slick-dots li button:before,
  ul.slick-dots li.slick-active button:before,
  ul.slick-dots {
    display: none;
    pointer-events: none;
  }

}

/*--------------------------------------------------------------
## My work more
--------------------------------------------------------------*/
/*--- Images ---*/
.img-1 {background: url(../img/max/nils2.png)}
.img-2 {background: url(../img/min/q.jpg)}
.img-3 {background: url(../img/min/qualisters.jpg)}
.img-4 {background: url(../img/min/snygg.jpg)}
.img-5 {background: url(../img/min/möggen.jpg)}
.img-6 {background: url(../img/min/cumulus-2016.jpg)}
.img-7 {background: url(../img/min/cumulus-2015.jpg)}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.my-work {
  display: flex;
  flex-wrap: wrap;
}

.work {
  flex: 1 1 30%;
  height: 30vw;
  width: 200px;
  position: relative;
}

.work:nth-child(1) {
  flex: 1 1 100%;
  height: 60vw;
}

/*--- Image Caption ---*/
.work p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: none;
  color: #fff;
}

.work:hover p,
.work:active p {
  display: inline;
}

.overlay {
  display: inline-block;
  background-color: #000;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 650ms ease;
}

.work:hover .overlay,
.work:active .overlay {
  opacity: 0.5;

}

.work:hover ,
.work:active {

}

/*--------------------------------------------------------------
# Section 2 - About me
--------------------------------------------------------------*/
#about .text {
  float: left;
  max-width: 70%;
  padding-right: 0.5rem;
}
#about .text p {
  margin-bottom: 1rem;
}

#about img {
  position: relative;
  width: 30%;
  max-width: 250px;
  border-radius: 50%;
  float: right;
}


/*--------------------------------------------------------------
# Section 3 - Resumé
--------------------------------------------------------------*/
#resume .bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 3rem auto;
}
#resume .bar {
  width: 50px;
  height: 250px;
  background-color: pink;
}

#resume .photoshop {
  background-color: #5DD1FA;
  background-image: url(../img/adobe/photoshop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
  height: calc(250px * .9);
  border-bottom: 5px solid #5DD1FA;
}
#resume .illustrator {
  background-color: #F19737;
  background-image: url(../img/adobe/illustrator.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
  height: calc(250px * .4);
  border-bottom: 7px solid #F19737;
}
#resume .indesign {
  background-color: #ED68A0;
  background-image: url(../img/adobe/indesign.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
  height: calc(250px * .7);
  border-bottom: 7px solid #ED68A0;
}
#resume .premiere {
  background-color: #DE94F9;
  background-image: url(../img/adobe/premiere.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
  height: calc(250px * .4);
  border-bottom: 7px solid #DE94F9;
}
#resume .after-effects {
  background-color: #D2ACF9;
  background-image: url(../img/adobe/aftereffects.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
  height: calc(250px * .2);
  border-bottom: 7px solid #D2ACF9;
}
#resume .web-design {
  background-color: #DDC537;
  background-image: url(../img/adobe/webdesign.svg);
  background-repeat: no-repeat;
  background-position: center 97%;
  background-size: 70%;
  height: calc(250px * .3);
  border-bottom: 7px solid #DDC537;
}
#resume .photography {
  background-color: #C4CACF;
  background-image: url(../img/adobe/photography.svg);
  background-repeat: no-repeat;
  background-position: center 97%;
  background-size: 70%;
  height: calc(250px * .5);
  border-bottom: 7px solid #C4CACF;
}
#resume .cinematography {
  background-color: #586975;
  background-image: url(../img/adobe/cinematography.svg);
  background-repeat: no-repeat;
  background-position: center 97%;
  background-size: 70%;
  height: calc(250px * .3);
  border-bottom: 7px solid #586975;
}

/*--------------------------------------------------------------
# Section 4 - Hire me
--------------------------------------------------------------*/
/* Typography */

#hire-form {
  max-width: 600px;
  margin: auto;
  margin-bottom: 10rem;
  padding: 5% 0 5% 0;
  position: relative;
}

#hire p {
  position: relative;
}

#hire p label:first-child {
  font-size: 1rem;
  line-height: 30px;
}

#hire p:nth-child(1),
#hire p:nth-child(2) {
  margin-bottom: 3rem;
}

#textarea_feedback {
  font: 0.6rem "Oswald", sans-serif;
  color: #444;
  display: inline;
  text-align: right;
}

#hire p input,
#hire .ta textarea {
  font: .7rem "Raleway", sans-serif;
  float: right;
  width: 70%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  padding: 0 5% 0 5%;
}
#hire p input::placeholder,
#hire .ta textarea::placeholder {
  font-family: "Raleway", sans-serif;
  color: #777;
}

#hire .ta {
  position: relative;
}

#hire .ta p {
  margin: 0;
  display: initial;
}

#hire .ta textarea {
  padding: 9px 5% 5% 5%;
  resize: none;
  min-height: 100px;
}

#hire p label.error,
#hire .ta label.error {
  color: #D01E32;
}

#hire p input.error,
#hire .ta textarea.error {
  border: 1px solid #D01E32;
  background-color: #DF8D95;
}
#hire p input.error::placeholder,
#hire .ta textarea.error::placeholder {
  color: #444;
}

#hire p label.error,
#hire .ta label.error {
  position: absolute;
  right: 15px;
  bottom: 33px;
}

#hire .buttons {
  margin: auto;
  clear: both;
  float: right;
  margin-top: 5%;
}

#hire .button {
  font: .7rem 'Raleway', sans-serif;
  margin: 10px auto;
  border-radius: 15px;
  background-color: #E9E9E9;
  width: 100px;
  height: 28px;
  line-height: 100%;
  text-align: center;
  color: #666;
  border: 0px solid ;
  -webkit-appearance: none;
}

#hire .btn-success:hover {
  background: rgb(28, 184, 65);
  color: white;
}

#hire .btn-success:active {
  background: RGB(28, 155, 65);

}

#hire .btn-error:hover {
  background: rgb(202, 60, 60);
  color: white;
}

#hire .btn-error:active {
  background: RGB(172, 60, 60);
}

#hire .required {
  color: rgb(202, 60, 60);
}

#textarea_feedback.hide-ta {
  display: none !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: #333;
  width: 100%;
  margin-top: 0.5rem;
  padding: 5%;
}

footer ul {
  border-bottom: 1px solid #999;
  padding-bottom: 0.5rem;
}

footer ul li a {
  font: 0.65rem "Raleway", sans-serif;
  color: #999;
  text-decoration: none;
}
